<div style="width: 100vw">
  <p class="text-center" style="color: green"><%= notice %></p>

  <h1 class="text-center">Edit question</h1>
  <div class="w-75 mx-auto">
    <%= render "form", question: @question %>
  </div>
</div>
