<h2>Wait for answers:</h2>
<table class="table table-striped align-middle">
  <thead>
  <tr>
    <th scope="col">Nickname</th>
    <th scope="col">Answer</th>
    <th scope="col">Correct?</th>
  </tr>
  </thead>
  <tbody id="answers-list">
  <%= render partial: 'host/quiz_sessions/synchronous/answer', collection: quiz_answers, as: :answer %>
  </tbody>
</table>
