<table class="table table-striped align-middle">
  <thead>
    <tr>
      <th scope="col">Nickname</th>
    </tr>
  </thead>
  <tbody id="players-list">
    <%= render partial: 'player/quiz_sessions/player', collection: quiz_session.sessions_players, as: :sessions_player %>
  </tbody>
</table>
