<%= turbo_frame_tag 'player-quiz' do %>
  <div class="d-flex">
    <h2>Waiting for others answers and evaluation of the host</h2>
    <%= render 'player/quiz_sessions/spinner' %>
  </div>
  <!--  TODO: show list of users with answers-->
<% end %>
