<div style="width: 100vw">
  <p style="color: green"><%= notice %></p>

  <h1 class="text-center">New category</h1>
  <div class="w-75 mx-auto">
    <%= render "form", category: @category %>
  </div>
</div>
