<div style="width: 100vw">
  <h1 class="text-center">Session's Questions</h1>

  <div id="questions" class="d-flex flex-column align-items-center">
    <div style="width: 75%">
      <table class="table table-striped align-middle">
        <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Category</th>
          <th scope="col">Text</th>
          <th scope="col">Correct Answer</th>
          <% if @quiz_session.synchronous? %>
            <th scope="col">Players Answers</th>
          <% end %>
        </tr>
        </thead>
        <tbody>
        <% @questions.find_each do |question| %>
          <tr>
            <%= render question %>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
